<ion-header>
  <ion-navbar color="primaryLightColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >
      {{ 'MY_PRODUCTS' | translate }} 
    </ion-title>   
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <!-- <ion-card id="{{productItem.barcode}}" *ngFor="let productItem of productsListData" (click)="productDetails(productItem.barcode)">
    <ion-list>
      <ion-item color="none" >
      {{productItem.productName}}
        <ion-note style="color:#494949;" item-right>${{productItem.user_ProductPrice}}</ion-note>
      </ion-item>
      <ion-item *ngIf="productItem.lowest">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Lowest Price: ${{productItem.productPrice}}
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ion-card> -->
  <ion-list>
    <ion-item id="{{productItem.barcode}}" *ngFor="let productItem of productsListData">
      <ion-thumbnail item-start>
        <img src="assets/img/noproductsfound.jpg">
      </ion-thumbnail>
      <h3>{{productItem.productName}}</h3>
      <h4 style="font-size:11px;">${{productItem.user_ProductPrice}}</h4>
      <div class="show-list-numbers-and-dots" *ngIf="productItem.lowest">
        <p style="margin-top:0px;color:#000000;font-size:10px;">
          {{ 'LOWEST_PRICE' | translate }}: ${{productItem.productPrice}}
        </p>
      </div>
      <button ion-button clear item-end (click)="productDetails(productItem.barcode)">{{ 'VIEW' | translate }}</button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom >
    <button color="primaryColor" ion-fab (click)="addNewProduct()"><ion-icon name="add"></ion-icon></button>   
  </ion-fab>
</ion-content>