<ion-header>
  <ion-navbar color="primaryColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{'PRODUCT' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <button *ngIf="isNewProduct" id="product-button9" ion-button color="positive" block (click)="scanBarcode()">
    {{'SCAN_BARCODE' | translate}}
  </button>
  <ion-card>
    <ion-card-content>   
      <button (click)="takePicture()">Take a Picture</button>
      Latest Picture:
      <img [src]="base64Image" *ngIf="base64Image" />
    </ion-card-content>
  </ion-card>
  <form id="product-form1" *ngIf="showProductForm">
    <div class="spacer" style="width:300px;height:29px;" id="product-spacer4"></div>
    <ion-item id="product-input9">
      <ion-label color="primary" floating>
        {{'PRODUCT_BARCODE' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="" value="{{productDP.productDataResult.barcode}}" name="barcode"></ion-input>
    </ion-item>
    <ion-item id="product-input2">
      <ion-label color="primary" floating>
        {{'PRODUCT_NAME' | translate}}
      </ion-label>
      <ion-input type="text" value="{{productDP.productDataResult.productName}}" placeholder="" name="productName"></ion-input>
    </ion-item>
    <ion-item id="product-input3">
      <ion-label color="primary" floating>
        {{'PRODUCT_PRICE' | translate}}
      </ion-label>
      <ion-input type="number" value="{{productDP.productDataResult.price}}" placeholder="" name="productPrice">4654645645</ion-input>
    </ion-item>
    <ion-item id="product-select1">
      <ion-label color="primary" floating>
        {{'STORE' | translate}}
      </ion-label>
      <ion-select [(ngModel)]="productDP.productDataResult.storeId" name="productStoreList" interface="action-sheet">
        <ion-option value={{item.storeId}} *ngFor="let item of stores">
          {{item.storeName}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="product-toggle2">
      <ion-label>
        {{'ADD_TO_MY_LIST' | translate}}
      </ion-label>
      <ion-toggle color="positive" checked="true"></ion-toggle>
    </ion-item>
    <button (click)="saveProduct()" id="product-button1" ion-button color="positive" block>
      {{'SAVE' | translate}}
    </button>
  </form>
</ion-content>