<!--
  Generated template for the HomeappPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Coover ShopZ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngIf="userInfo" >
      <ion-card-header>{{userInfo.name}}</ion-card-header>
      <img [src]="userInfo.imageUrl" />  
      <ion-card-content>
        <p>Email: {{userInfo.email}}</p>
      </ion-card-content>
    </ion-card>
    
    <a> Tittle: <p>{{tittle}}</p></a>
    
    <div *ngIf="results" >
      <p>{{results.text}}</p>
    </div>
    
      <button ion-button (click)="scanBarcode()" >Scan Barcode</button>
    </ion-content>
    